---
---

<form class="grid grid-cols-1 gap-y-6">
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
    <div class="mt-1">
      <input
        type="text"
        name="name"
        id="name"
        autocomplete="name"
        class="py-3 px-4 block w-full shadow-sm focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
        required
      />
    </div>
  </div>
  <div>
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    <div class="mt-1">
      <input
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        class="py-3 px-4 block w-full shadow-sm focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
        required
      />
    </div>
  </div>
  <div>
    <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
    <div class="mt-1">
      <input
        type="tel"
        name="phone"
        id="phone"
        autocomplete="tel"
        class="py-3 px-4 block w-full shadow-sm focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
        required
      />
    </div>
  </div>
  <div>
    <label for="message" class="block text-sm font-medium text-gray-700">Mensaje</label>
    <div class="mt-1">
      <textarea
        id="message"
        name="message"
        rows="4"
        class="py-3 px-4 block w-full shadow-sm focus:ring-primary-500 focus:border-primary-500 border-gray-300 rounded-md"
        required
      ></textarea>
    </div>
  </div>
  <div>
    <button
      type="submit"
      class="w-full inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
    >
      Enviar mensaje
    </button>
  </div>
</form>